* {
    box-sizing: border-box;
}

:root {
  --primary-color: green;
}

section {
    text-align: center;
}

img {
    width: 50vw;
    margin: 2%;
}

#result audio, #result a {
    display: block;
    margin: 0.5rem auto;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

@media (min-width: 600px) {
    img {
        width: 20vw;
    }
}