:root {
    --background-color: #111;
    --text-color: #fff;
    --red-text-color: #FF0436;
    --green-text-color: #4ade80;
    --green-hover: #227340;
}

.selectionContainer {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--green-text-color);
}

select, button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
}

button {
    background: var(--green-text-color);
    cursor: pointer;
    transition: 0.2s;
}


img {
    width: 80%;
    margin: 2%;
}

#result audio, #result a {
    display: block;
    margin: 0.5rem auto;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#result div {
    background: #222;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
    /* width: 100%; */
}

a {
    color: var(--green-text-color);
}

.songSelector {
    margin: 1rem;
}

@media (min-width: 800px) {
    img {
        max-width: 40vw;
    }
    
    a:hover {
        color: var(--green-hover);
    }
    button:hover {
        background: var(--green-hover);
    }

    section {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
    }

    h1{
        font-size: 4rem
    }

}