:root {
    --background-color: #111;
    --text-color: #fff;
    --red-text-color: #FF0436;
    --green-text-color: #4ade80;
    --green-hover: #227340;
    --font: "Outfit", sans-serif;
    --result-background: #222;
    --result-border: #ff6a83;
}

.selectionContainer {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

select {
    -webkit-appearance: none;
    appearance: none;
    /* drop down pil */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%234ade80" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;

}

h2, p {
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--green-text-color);
}

select, button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
}

button {
    background: var(--green-text-color);
    cursor: pointer;
    transition: 0.2s;
}


img {
    width: 80%;
    margin: 2%;
}

#result audio, #result a {
    display: block;
    margin: 0.5rem auto;
}
      
@keyframes zoomIn {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}



#result div {
    background: var(--result-background);
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
}

.playing {
    border: 5px solid var(--result-border);
    border-radius: 1rem;
}

a {
    color: var(--green-text-color);
}

.songSelector {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.2rem;
}

@media (min-width: 800px) {
    img {
        max-width: 40vw;
    }
    
    a:hover {
        color: var(--green-hover);
    }
    button:hover {
        background: var(--green-hover);
    }

    section {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
    }

    h1{
        font-size: 4rem
    }

}